<ion-content>
  <div class="wrap">
    <ion-text color="primary" >
      <h1 class="login__header">kwikee</h1>
    </ion-text>
    <ion-text color="">
      <h4>Get started</h4>
    </ion-text>
      <p>Enter your mobile number to get started.</p>
      <ion-label class="mylabel" position="fixed">Phone Number</ion-label>
    <div class="myInput">
      <ion-input class="input" type="tel"> </ion-input>
      <ion-icon name="call"></ion-icon>
    </div>
    <div class="signin notice">
      <span>we may store and send verification code to this number</span>
          <p>i already have an accoun <ion-button href="/login" fill="clear">Log in</ion-button></p>
      </div>
      <ion-button href="/dashboard" class="next" color="success" size="full">Next</ion-button>
  </div>
</ion-content>
