<ion-content>
  <div class="wrap">
      <img src="https://media.istockphoto.com/photos/smiling-indian-man-looking-at-camera-picture-id1270067126?k=20&m=1270067126&s=170667a&w=0&h=qcveK8RhZyUglSueV-X-aiFTnZCn4y5z13TgPckiYjw=" alt="">
      <ion-button href="/sign-up" class="next" color="success" size="full">Next</ion-button>
      <div class="desc">
        <ion-text class="text">
          <ion-icon name="logo-electron"></ion-icon>
          <h2 class="login__header">Easier life</h2>
        </ion-text>
        <ion-text class="info" >
          <span>
            With kwikee life just got easier. Financial solutions at your finger tips with several benefits.
           </span>
        </ion-text>
      </div>
    </div>
<span class="skip" href="/sign-up">Skip</span>
</ion-content>
