.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: blue;
    p{
        // color: #ffffff;
        font-size: 12px;
        letter-spacing: 8px;
        color: #fff;
    }

}
